<!DOCTYPE html>
<html>
  <head>
    <title>GitHubTelegramBot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body class="bg-dark">
    <%= render  "shared/header" %>
    <div class="m-4 p-4 bg-white main-container">
      <%= yield %>
    </div>
  </body>
</html>
